.vscode/
build/
dist/
*.egg-info/
__pycache__
.ipynb_checkpoints/
.DS_Store
**.pyc
*.png
*.txt
*.err
*.out
logs/
logs
**/outputs/
**/wandb/
**/exp/
**/exp_local/
data/
checkpoints/
checkpoints-meta/
eval/
assets/
**.pth
**.npz
core
**.log
*.jsonl